<h1>Track Shipment</h1>
<div class="container">
    <form>
        Reference number: <input type="number" name="reference-number" [(ngModel)]="reference_number"><br>
        <button class="registerbtn" (click)="getShipment()">Get Shipment</button>
    </form>

    <div *ngIf="no_shipment && !no_action_yet; then nothingToShow"></div>
    <h3>Sender information</h3>
    Sender name: <input [disabled]="true" type="text" name="sender-name" [(ngModel)]="sender_name"> <br>
    Sender email: <input [disabled]="true" type="email" name="sender-email" [(ngModel)]="sender_email"> <br>
    Sender phone: <input [disabled]="true" type="number" name="sender-phone" [(ngModel)]="sender_phone"> <br>
    Sender address: <input [disabled]="true" type="text" name="sender-address" [(ngModel)]="sender_address"> <br>
    Sender locality: <input [disabled]="true" type="text" name="sender-locality" [(ngModel)]="sender_locality"> <br>
    Sender postal code: <input [disabled]="true" type="number" name="sender-postal-code" [(ngModel)]="sender_postal_code"> <br>
    Sender country: <input [disabled]="true" type="text" name="sender-country" [(ngModel)]="sender_country"> <br>
    <hr>
    <h3>Receiver information</h3>
    Receiver name: <input [disabled]="true" type="text"  name="receiver-name" [(ngModel)]="receiver_name"> <br>
    Receiver email: <input [disabled]="true" type="email" name="receiver-email" [(ngModel)]="receiver_email"> <br>
    Receiver phone: <input [disabled]="true" type="number" name="receiver-phone" [(ngModel)]="receiver_phone"> <br>
    Receiver address: <input [disabled]="true" type="text" name="receiver-address" [(ngModel)]="receiver_address"> <br>
    Receiver locality: <input [disabled]="true" type="text" name="receiver-locality" [(ngModel)]="receiver_locality"> <br>
    Receiver postal code: <input [disabled]="true" type="number" name="receiver-postal-code" [(ngModel)]="receiver_postal_code"> <br>
    Receiver country: <input [disabled]="true" type="text" name="receiver-country" [(ngModel)]="receiver_country"> <br>
    <hr>
    <h3>Package information</h3>
    Package length: <input [disabled]="true" type="number" name="length" [(ngModel)]="length"> <br>
    Package width: <input [disabled]="true" type="number" name="width" [(ngModel)]="width"> <br>
    Package height: <input [disabled]="true" type="number" name="height" [(ngModel)]="height"> <br>
    Package weight: <input [disabled]="true" type="number" name="weight" [(ngModel)]="weight"> <br>

    <ng-template #nothingToShow>
        <p style="color:red; font-size: 200%">No shipment found!</p>
    </ng-template>

    <button class="registerbtn" [disabled]="no_shipment" (click)="deleteShipment()">Delete shipment</button>
    <div style="color:green; font-size: 200%" *ngIf="delete_successful">Shipment has been deleted!</div>
</div>

