<body>
    <h1>Create Shipment</h1>
    <hr>
    <form>
        <div class="container">
            <h3>Sender information</h3>
            Sender name: <input [disabled]="have_quote" type="text" name="sender-name" [(ngModel)]="sender_name"> <br>
            Sender email: <input [disabled]="have_quote" type="email" name="sender-email" [(ngModel)]="sender_email"> <br>
            Sender phone: <input [disabled]="have_quote" type="number" name="sender-phone" [(ngModel)]="sender_phone"> <br>
            Sender address: <input [disabled]="have_quote" type="text" name="sender-address" [(ngModel)]="sender_address"> <br>
            Sender locality: <input [disabled]="have_quote" type="text" name="sender-locality" [(ngModel)]="sender_locality"> <br>
            Sender postal code: <input [disabled]="have_quote" type="number" name="sender-postal-code" [(ngModel)]="sender_postal_code"> <br>
            Sender country: <input [disabled]="have_quote" type="text" name="sender-country" [(ngModel)]="sender_country"> <br>
            <hr>
            <h3>Receiver information</h3>
            Receiver name: <input [disabled]="have_quote" type="text"  name="receiver-name" [(ngModel)]="receiver_name"> <br>
            Receiver email: <input [disabled]="have_quote" type="email" name="receiver-email" [(ngModel)]="receiver_email"> <br>
            Receiver phone: <input [disabled]="have_quote" type="number" name="receiver-phone" [(ngModel)]="receiver_phone"> <br>
            Receiver address: <input [disabled]="have_quote" type="text" name="receiver-address" [(ngModel)]="receiver_address"> <br>
            Receiver locality: <input [disabled]="have_quote" type="text" name="receiver-locality" [(ngModel)]="receiver_locality"> <br>
            Receiver postal code: <input [disabled]="have_quote" type="number" name="receiver-postal-code" [(ngModel)]="receiver_postal_code"> <br>
            Receiver country: <input [disabled]="have_quote" type="text" name="receiver-country" [(ngModel)]="receiver_country"> <br>
            <hr>
            <h3>Package information</h3>
            Package length: <input [disabled]="have_quote" type="number" name="length" [(ngModel)]="length"> <br>
            Package width: <input [disabled]="have_quote" type="number" name="width" [(ngModel)]="width"> <br>
            Package height: <input [disabled]="have_quote" type="number" name="height" [(ngModel)]="height"> <br>
            Package weight: <input [disabled]="have_quote" type="number" name="weight" [(ngModel)]="weight"> <br>
            <button class="registerbtn" (click)="getQuote()">Get Quote</button>
            <button class="registerbtn" [disabled]="!have_quote" (click)="createShipment()">Create Shipment</button>
        </div>
    </form>
    <div style="font-size: 150%">Price: ${{price}} <br> </div>
    <br>
    <div style="font-size: 150%">Reference Number: {{return_ref_num}}</div>

    <hr>

    <app-get-shipment></app-get-shipment>
</body>




